.button {
  flex-grow: 1;
}

$in-start-sm: path(
  "M0 -8C10.309101998310444 -8,28.309101998310446 -8,34.309101998310446 -8C36.38670329693102 -8,54.38670329693102 -8,60.38670329693102 -8C68.3128379128238 -8,86.3128379128238 -8,92.3128379128238 -8C100.57940318165116 -8,118.57940318165116 -8,124.57940318165116 -8C120.47144702211015 -8,138.47144702211017 -8,144.47144702211017 -8C150.33763493159174 -8,168.33763493159174 -8,174.33763493159174 -8C188.71601301132694 -8,206.71601301132694 -8,212.71601301132694 -8C218.19565781997932 -8,236.19565781997932 -8,242.19565781997932 -8C245.07833788230164 -8,263.07833788230164 -8,269.07833788230164 -8C278.19347680522503 -8,296.19347680522503 -8,302.19347680522503 -8C303.6781790978254 -8,321.6781790978254 -8,327.6781790978254 -8 L310 0, 0 0Z"
);
$in-end-sm: path(
  "M0 138C10.36243955900899 106.04169557801332,28.36243955900899 106.04169557801332,34.36243955900899 138C33.04096340118318 171.91371834968842,51.04096340118318 171.91371834968842,57.04096340118318 138C65.56509864777667 122.3222559261675,83.56509864777667 122.3222559261675,89.56509864777667 138C99.26726954336105 181.9399332652312,117.26726954336105 181.9399332652312,123.26726954336105 138C129.73791430544622 93.76752515585832,147.73791430544622 93.76752515585832,153.73791430544622 138C161.9988340770942 168.59078940184574,179.9988340770942 168.59078940184574,185.9988340770942 138C181.32400585233484 106.38525825053156,199.32400585233484 106.38525825053156,205.32400585233484 138C210.95721240159688 159.4602289025809,228.95721240159688 159.4602289025809,234.95721240159688 138C249.59117284112762 80.69652572436084,267.5911728411276 80.69652572436084,273.5911728411276 138C278.04222600571165 190.35295815963076,296.04222600571165 190.35295815963076,302.04222600571165 138C305.1130843726924 91.52238897955371,323.1130843726924 91.52238897955371,329.1130843726924 138 L310 0, 0 0Z"
);
$out-start-sm: path(
  "M0 -8C2.8984929128979493 -8,20.89849291289795 -8,26.89849291289795 -8C35.45105678557411 -8,53.45105678557411 -8,59.45105678557411 -8C64.05709093291124 -8,82.05709093291124 -8,88.05709093291124 -8C92.77302804180374 -8,110.77302804180374 -8,116.77302804180374 -8C125.7782536831547 -8,143.7782536831547 -8,149.7782536831547 -8C151.94685947463083 -8,169.94685947463083 -8,175.94685947463083 -8C191.8738956722358 -8,209.8738956722358 -8,215.8738956722358 -8C221.8097780004857 -8,239.8097780004857 -8,245.8097780004857 -8C247.8083104501197 -8,265.80831045011973 -8,271.80831045011973 -8C276.1636617674748 -8,294.1636617674748 -8,300.1636617674748 -8L300 58, 0 58Z"
);
$out-end-sm: path(
  "M0 138C2.2924863082758975 64.2173753613736,20.292486308275897 64.2173753613736,26.292486308275897 138C31.31540491954937 180.54189099888794,49.315404919549366 180.54189099888794,55.315404919549366 138C69.25912272210321 100.9418132552355,87.25912272210321 100.9418132552355,93.25912272210321 138C95.12261253271274 158.94414027412955,113.12261253271274 158.94414027412955,119.12261253271274 138C125.13042751182559 110.90320572342931,143.1304275118256 110.90320572342931,149.1304275118256 138C154.30545667496105 179.15529758975794,172.30545667496105 179.15529758975794,178.30545667496105 138C191.34873929259635 74.84769981498245,209.34873929259635 74.84769981498245,215.34873929259635 138C211.12863020124183 211.8418730737549,229.12863020124183 211.8418730737549,235.12863020124183 138C246.0982338044755 120.11739153310774,264.0982338044755 120.11739153310774,270.0982338044755 138C271.44142701922095 212.4839807184553,289.44142701922095 212.4839807184553,295.44142701922095 138L300 58, 0 58Z"
);

$in-start-lg: path(
  "M0 -8C2.4392904212673727 -8,20.439290421267373 -8,26.439290421267373 -8C34.00907404751818 -8,52.00907404751818 -8,58.00907404751818 -8C61.05375118531732 -8,79.05375118531731 -8,85.05375118531731 -8C95.74425402391867 -8,113.74425402391867 -8,119.74425402391867 -8C121.53683907585462 -8,139.53683907585463 -8,145.53683907585463 -8C153.2423846092843 -8,171.2423846092843 -8,177.2423846092843 -8C190.6691215400012 -8,208.6691215400012 -8,214.6691215400012 -8C212.76733820358112 -8,230.76733820358112 -8,236.76733820358112 -8C245.18988091207368 -8,263.1898809120737 -8,269.1898809120737 -8C281.2237940736428 -8,299.2237940736428 -8,305.2237940736428 -8C308.7480700951237 -8,326.7480700951237 -8,332.7480700951237 -8C337.92481611345045 -8,355.92481611345045 -8,361.92481611345045 -8C362.4418876002851 -8,380.4418876002851 -8,386.4418876002851 -8C394.5393590805165 -8,412.5393590805165 -8,418.5393590805165 -8C425.8242347119643 -8,443.8242347119643 -8,449.8242347119643 -8C461.307801144254 -8,479.307801144254 -8,485.307801144254 -8C480.943626307065 -8,498.943626307065 -8,504.943626307065 -8C518.9398646709136 -8,536.9398646709136 -8,542.9398646709136 -8C549.265646602416 -8,567.265646602416 -8,573.265646602416 -8 L552 0, 0 0Z"
);
$in-end-lg: path(
  "M0 138C8.130734665894064 68.10334113541296,26.130734665894064 68.10334113541296,32.13073466589407 138C30.525228599981794 203.70375069572765,48.525228599981794 203.70375069572765,54.525228599981794 138C62.09799748568952 89.60357841115764,80.09799748568952 89.60357841115764,86.09799748568952 138C91.08234957355339 172.82110387157593,109.08234957355339 172.82110387157593,115.08234957355339 138C122.71209098055493 80.11474453007578,140.71209098055493 80.11474453007578,146.71209098055493 138C154.3914291153996 148.97028974464882,172.3914291153996 148.97028974464882,178.3914291153996 138C187.89268512322548 61.016856905709076,205.89268512322548 61.016856905709076,211.89268512322548 138C221.22989562309326 200.71292189207068,239.22989562309326 200.71292189207068,245.22989562309326 138C246.29666390124996 111.94413088814551,264.29666390125 111.94413088814551,270.29666390125 138C276.5960324710699 157.29477601453476,294.5960324710699 157.29477601453476,300.5960324710699 138C303.38061656238966 110.30800660812947,321.38061656238966 110.30800660812947,327.38061656238966 138C332.73505925540655 148.4501669663002,350.73505925540655 148.4501669663002,356.73505925540655 138C366.1485757013347 103.1785821761382,384.1485757013347 103.1785821761382,390.1485757013347 138C392.7114222085918 166.87742816692742,410.7114222085918 166.87742816692742,416.7114222085918 138C428.02077780223584 87.65956237920378,446.02077780223584 87.65956237920378,452.02077780223584 138C453.6114333258157 178.22204516886393,471.6114333258157 178.22204516886393,477.6114333258157 138C490.1466396956516 128.45784980977157,508.1466396956516 128.45784980977157,514.1466396956516 138C512.8211755677378 188.43438127102337,530.8211755677378 188.43438127102337,536.8211755677378 138C548.6923704587715 72.16039200621347,566.6923704587715 72.16039200621347,572.6923704587715 138 L552 0, 0 0Z"
);
$out-start-lg: path(
  "M0 -8C9.957231498332 -8,27.957231498332 -8,33.957231498332 -8C39.593780467377194 -8,57.593780467377194 -8,63.593780467377194 -8C69.95337123754969 -8,87.95337123754969 -8,93.95337123754969 -8C93.07529976258117 -8,111.07529976258117 -8,117.07529976258117 -8C121.17333204740532 -8,139.17333204740532 -8,145.17333204740532 -8C160.79292689992423 -8,178.79292689992423 -8,184.79292689992423 -8C183.49072939111522 -8,201.49072939111522 -8,207.49072939111522 -8C220.5916361382391 -8,238.5916361382391 -8,244.5916361382391 -8C241.4619694318767 -8,259.4619694318767 -8,265.4619694318767 -8C275.2559288380177 -8,293.2559288380177 -8,299.2559288380177 -8C311.1732652260026 -8,329.1732652260026 -8,335.1732652260026 -8C331.68421088293235 -8,349.68421088293235 -8,355.68421088293235 -8C363.70336891730784 -8,381.70336891730784 -8,387.70336891730784 -8C396.808430659478 -8,414.808430659478 -8,420.808430659478 -8C421.0426637381414 -8,439.0426637381414 -8,445.0426637381414 -8C451.80454535126495 -8,469.80454535126495 -8,475.80454535126495 -8C490.41845931493697 -8,508.41845931493697 -8,514.418459314937 -8C513.3784313510259 -8,531.3784313510259 -8,537.3784313510259 -8C542.5042657437075 -8,560.5042657437075 -8,566.5042657437075 -8L552 58, 0 58Z"
);
$out-end-lg: path(
  "M0 138C1.754285350848317 75.99559864495741,19.754285350848317 75.99559864495741,25.754285350848317 138C38.57942483775804 157.90863218999596,56.57942483775804 157.90863218999596,62.57942483775804 138C71.84525647115585 94.27298797542429,89.84525647115585 94.27298797542429,95.84525647115585 138C98.60579536186061 202.21202178049896,116.60579536186061 202.21202178049896,122.60579536186061 138C124.34002603423579 99.06759869554732,142.3400260342358 99.06759869554732,148.3400260342358 138C150.34262169322957 176.83450052614634,168.34262169322957 176.83450052614634,174.34262169322957 138C182.15046996375688 108.03948741027254,200.15046996375688 108.03948741027254,206.15046996375688 138C213.0357376323479 172.0127059241668,231.0357376323479 172.0127059241668,237.0357376323479 138C251.904555653232 77.24676674401275,269.904555653232 77.24676674401275,275.904555653232 138C274.89275670051296 191.2080137285769,292.89275670051296 191.2080137285769,298.89275670051296 138C309.78116980140214 64.03071837513355,327.78116980140214 64.03071837513355,333.78116980140214 138C336.5277145404383 176.06294343505581,354.5277145404383 176.06294343505581,360.5277145404383 138C362.4860579010812 58.8563274604188,380.4860579010812 58.8563274604188,386.4860579010812 138C393.2961873567033 198.70432650748026,411.2961873567033 198.70432650748026,417.2961873567033 138C429.17254785241977 104.53764243952693,447.17254785241977 104.53764243952693,453.17254785241977 138C459.5350660900658 197.78343494620907,477.5350660900658 197.78343494620907,483.5350660900658 138C480.49094440083616 61.68484689386746,498.49094440083616 61.68484689386746,504.49094440083616 138C515.4339719284272 169.3806369704655,533.4339719284272 169.3806369704655,539.4339719284272 138C548.2352626373656 86.57126487446838,566.2352626373656 86.57126487446838,572.2352626373656 138L552 58, 0 58Z"
);

.sm {
  div:last-child {
    animation: drip-out 1s ease-in-out forwards;
    @keyframes drip-out {
      0% {
        clip-path: $out-start-sm;
      }
      100% {
        clip-path: $out-end-sm;
      }
    }
  }

  &:hover {
    div:last-child {
      animation: drip 1.5s ease-in-out forwards;
      @keyframes drip {
        0% {
          clip-path: $in-start-sm;
        }
        80% {
          clip-path: $in-end-sm;
        }
        100% {
          clip-path: $in-end-sm;
        }
      }
    }
  }
}

.lg {
  div:last-child {
    animation: drip-out 1s ease-in-out forwards;
    @keyframes drip-out {
      0% {
        clip-path: $out-start-lg;
      }
      100% {
        clip-path: $out-end-lg;
      }
    }
  }

  &:hover {
    div:last-child {
      animation: drip 1.5s ease-in-out forwards;
      @keyframes drip {
        0% {
          clip-path: $in-start-lg;
        }
        80% {
          clip-path: $in-end-lg;
        }
        100% {
          clip-path: $in-end-lg;
        }
      }
    }
  }
}
