.box__header,
.box__video,
.box__btn {
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 0;
}

.box__header {
  transform: translateY(-50px);
}

.box__video,
.box__btn {
  transition-delay: 0.3s;
  transform: scale(0);
}

.start {
  .box__header,
  .box__video,
  .box__btn {
    opacity: 1;
  }

  .box__header {
    transform: translateY(0);
  }
  .box__video,
  .box__btn {
    transform: scale(1);
  }
}
